<%- include("partials/head.ejs") -%>
<%- include("partials/navbar.ejs", { user: user } ) -%>
<section class="section">
    <div class="container">
        <article class="message is-success">
            <div class="message-header">
                <p>Success</p>
            </div>
            <div class="message-body">
                Zmiany zostały zapisane!
            </div>
        </article>
    </div>
</section>
<%- include("partials/footer.ejs") -%>
